<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897416784718-arn1h26tf8j9ae023tonlrb09bv76gb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897416784718-arn1h26tf8j9ae023tonlrb09bv76gb2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxIzVigGM4L2b2v3vDDv_7RfgZszh91f8</string>
	<key>GCM_SENDER_ID</key>
	<string>897416784718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acorp.vatCalculator</string>
	<key>PROJECT_ID</key>
	<string>vatcalculator-177f7</string>
	<key>STORAGE_BUCKET</key>
	<string>vatcalculator-177f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897416784718:ios:490f9b4a61f922f84d8c1f</string>
</dict>
</plist>